.calendar {
    margin: 0 auto;
    display: inline-block;
    font-family: monospace;
}

.year-header {
    font-size: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.month {
    display: inline-block;
    vertical-align: top;
    min-width: 5rem;
}

.month-header {
    min-height: 1rem;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.day {
    min-height: 1rem;
    user-select: none;
}

.day:not(.day-filler) {
    cursor: default;
}

.day-weekend {
    font-weight: bold;
}

.day-event-badge {
    background-color: #ff0000aa;
    color: white;
    margin: 0 .25rem;
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    min-height: 1rem;
}

.day-event-badge-start {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.day-event-badge-end {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}