.calendar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.year-header {
    text-align: center;
    font-size: 2rem;
}

.btn-column {}

.calendar-button {}

.button-next {}

.event-column {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    text-align: right;
}

.day-column {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
    white-space: nowrap;
}

.day-today {
    font-style: italic;
    font-weight: bold;
}

.weeknumber-column {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
    background-color: #ebebeb;
    color: darkgray;
    vertical-align: top;
}

.day-weekend {
    background-color: lightcoral;
}

.event-span {
    display: inline-block;
    text-align: center;
    min-width: 1rem;
    background-color: lightsteelblue;
    border-radius: 2rem;
    cursor: pointer;
}

.calendar table {
    border-spacing: 0 .25rem;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.calendar th {
    padding: .25rem .5rem;
}

.calendar td {
    padding: .25rem .5rem;
}